# Data
data/raw/
*.csv
*.parquet

# Secrets
.env

# MLflow
mlruns/
mlflow.db

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Generated artifacts
data/processed/pipeline.pkl
notebooks/.ipynb_checkpoints/
training.log

# Mac
.DS_Store